/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

table{
  border-radius: 1ex;
  margin-top: 5%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.fuzzy{
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  border: 0;
  box-shadow: 0;
  color:black
  
}

.result {
  margin-top: 25px;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}